body{
    margin: 0px;
}

a{
    transition: all 0.5s ease;
}

section{
    margin: 15px 100px 15px 70px;
    padding: 42px 15px;
}

strong{
    color: rgb(20, 57, 168);
    font-weight: 400;
    padding: 0.2em;
    padding-left: 0px;
    font-size: 26px;
    font-family: Koulen;
}

p{
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    align-items: justify;
    font-family: Krub;
    text-align: justify;
}

table, tr, td{
    border: 2px solid;
    font-size: 20px;
    font-weight: 400;
    border-collapse: collapse;
    width: 70%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

li{
    line-height: 32px;
    font-size: 20px;
}

.sec-name{
    margin-bottom: 25px;
    margin-top: 0;
    font-size: 30px;
    font-family: "Alegreya", serif;
    font-weight: bold;
    color: #09a3d5;
    line-height: 32px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    margin: 0px;
    padding: 10px 25px 34px 25px;
    background-color: #dbe2e985
}

#header p{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    font-family: Cinzel;
    line-height: 36px;
}

#header img{
    width: 10%;
    margin: 1%;
}

#header .christ{
    width: 20%;
    margin: 1%;
    background-color: #e1e0e4;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: -65px auto 10px auto;
    position: sticky;
    top: -7%;
    z-index: 999;
    padding-top: 35px;
}

#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5d666e;
    color: whitesmoke;
    width: 100%;
    height: 30px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: -3px 2px 5px darkslategray;
}

#navbar li{
    list-style-type: none;
    border-right: 2px solid lightblue;
    margin: 5px;
    padding-right: 20px;
    font-family: Ubuntu;
    transition: 0.7s ease;
}

#navbar li:last-child{
    border-right: none;
    padding-right: none;
}

#navbar li a{
    color: whitesmoke;
    font-size: 95%;
    font-weight: 500;    
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

#navbar li a:hover{
    font-size: 24px;
    color: rgb(22, 21, 26);
}

#mobile{
    display: none;
}

#banner{
    margin: 0px;
    background-image: url(banner.jpeg);
    padding: 0px;
    height: 63.5vh;
    background-size: 100%;
    position: relative;
    top: -20px;
    background-repeat: no-repeat;
}

#banner button{
    position: absolute;
    top: 75%;
    right: 7%;
    height: 50px;
    width: 12%;
    background-color: rgb(87, 87, 238, 0.78);
    border-radius: 15px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    transition: 0.5s ease;
}

#banner button a{
    text-decoration: none;
    color: white;
    outline: 0px solid black;
    font-size: 25px;
    font-family: Cinzel;
    font-weight: 400;
}

#banner button:hover{
    width: 13%;
}

#banner button a:hover{
    font-size: 28px;
}

#key-note-speakers{
    position: relative;
}

#key-note-speakers strong::after{
    content: "";
    position: absolute;
    top: 31%;
    left: 30%;
    width: 55px;
    background-color: rgb(87, 87, 238, 0.78);
    height: 3%;
}

#registration a{
    text-decoration: none;
    background-color: blue;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40%;
    height: 30px;
    font-size: 24px;
    padding-top: 5px;
}

#registration .table-1{
    margin: 15px;
}

#registration .table-1 thead p{
    margin: 2px 0px;
}

#registration .table-1 tbody p{
    margin: 2px 0px;
    font-size: 16px;
}

#registration .table-2{
    margin: 15px;
}

#commities span{
    color: #000000;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: Cambria;
}

#commities b{
    font-size: 18px ;
    color: #898989;
    font-family: Cambria;
    padding: 15px 15px 15px 0px;
    line-height: 28px;
    font-weight: normal;
}

#commities .title{
    font-size: 24px;
    font-weight: 700;
    color: #09a3d5;
    margin: 10px 0px;
    padding: 5px 0px;
}

#contact-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 50px;
}

#contact-us strong{
    color: rgb(20, 57, 168);
    font-weight: 900;
    padding: 0.2em;
    padding-left: 0px;
    font-size: 34px;
    margin: 15px;
    font-family: "Alegreya";
}

#contact-us  .contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

#contact-us .location{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-us .people{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 35%;
}

#contact-us .icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12px;
    height: 120px;
}

/*Media Query*/

@media (max-width:850px) {
    #header p{
        font-size: 14px;
        line-height: 24px;
        padding-top: 24px;
    }
    #header .christ{
        width: 25%;
    }
    #header img{
        width: 25%;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        padding: 0px;
        top: 2px;
        position: relative;
        width: 27%;
        right: -140px;
    }
    #navbar li{
        border-bottom: 2px solid lightblue;
        border-right: 0px solid lightblue;
        padding-bottom: 25px;
        font-size: 40px;
        padding-right: 0px;
    }
    #navbar li a{
        font-size: 65%;
    }
    #navbar li:nth-child(1){
        display: none;
    }
    #navbar li:last-child{
        border-bottom: none;
        padding-bottom: 5px;
    }
    #nav{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #5d666e;
        color: whitesmoke;
        height: 35%;
        width: 34%;
        margin: 5px;
        padding-top: 10px;
        border-radius: 10px;
        position: fixed;
        right: -500px;
        top: 29.8%;
        box-shadow: -3px 2px 5px darkslategray;
        z-index: 999;
        transition: 0.5s ease;
    }
    #nav.active{
        right: 80px;
    }
    #mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(22, 21, 26);
        color: whitesmoke;
        width: 6%;
        height: 95px;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
        position: fixed;
        font-size: 26px;
        right: -1%;
        top: 43%;
        box-shadow: -3px 2px 5px darkslategray;
    }
    #mobile a{
        text-decoration: none;
        color: whitesmoke;
        font-size: 22px;
    }
    #banner{
        height: 40vh;
        background-repeat: no-repeat;
        top: 55px;
        background-image: url('banner2.jpeg');
    }
    #banner button{
        top: 71%;
        right: 15%;
        height: 10%;
        width: 18%;
    }
    #banner button a{
        font-size: 20px;
    }
    #key-note-speakers strong::after{
        left: 50%;
        top: 30%;
    }
    #contact-us{
        padding-right: 0px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    #contact-us .contact{
        flex-direction: column;
    }
    #contact-us .location{
        width: 100%;
    }
    #contact-us .people{
        width: 100%;
    }
    #registration .table-1 table{
        width: 100%;
        height: auto;
        margin: none;
    }
    #registration a{
        width: 100%;
    }
}

@media (max-width:450px){
    section{
        margin: 15px 10px;
        padding: 15px 10px;
    }
    #banner{
        background-image: url('phone.jpeg');
    }
    #banner button{
        top: 60%;
        width: 20%;
    }
    #banner button a{
        font-size: 12px;
    }
    #nav.active{
        height: 50%;
        width: 52%;
        right: -2%;
    }
    #navbar li{
        font-size: 32px;
    }
    #mobile{
        top: 47%;
    }
    #key-note-speakers strong::after {
        left: 78%;
    }
}